
header {
    background-color: var(--cor-branco);
    padding: 1rem; 
    box-shadow: var(--box-shadow);
}

.header-container {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-container {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.logo {
    width: 100px;
    height: 100px;
}

.nome-empresa {
    background: linear-gradient( 153deg, var(--cor-prim), var(--cor-quar));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 1.5rem;
    font-weight: bold;
    letter-spacing: 0.5px;
}

nav ul {
    list-style-type: none;
    display: flex;
    gap: 2rem;
}

nav a {
    font-size: large;
    text-decoration: none;
    color: var(--cor-black);
    font-weight: 500;
    padding: 0.5rem 1rem;
    border-radius: 8px;
    position: relative;
    transition: all 300ms ease;
}

nav a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2;
    background: linear-gradient(45deg, var(--cor-prim), var(--cor-seco));
    transition: width 0.3s ease;
}

nav a:hover::after {
    width: 100%;

}

nav a:hover {
    background: linear-gradient(120deg, var(--cor-prim), var(--cor-seco));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

nav ul li:last-child a {
    background: var(--cor-quar);
    color: var(--cor-branco);
    padding: 0.8rem;
    border-radius: 20px;
    font-weight: 600;
    box-shadow: var(--box-shadow);
}

nav ul li:last-child a::after {
    display: none;
}

nav ul li:last-child a:hover {
    background: linear-gradient(45deg, var(--cor-prim), var(--cor-quar));
    color: var(--cor-branco);
    box-shadow: var(--box-shadow);
}