
main {
    display: flex;
    flex-direction: row;
}

section {
    padding: 80px;
}

.text-presentation {
    font-size: xx-large;
    max-width: 600px;
    background: linear-gradient( 313deg, var(--cor-prim), var(--cor-terc));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-bottom: 30px;
}

main div p {
    max-width: 450px;
    margin-bottom: 15px;
    margin-left: 40px;
    text-align: center;
}

.imgpitaya {
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 160px;
    margin-top: 20px;
    margin-bottom: 20px;
}

button {
    background: var(--cor-quar);
    color: var(--cor-branco);
    padding: 0.6rem 5rem;
    margin-top: 30px;
    margin-left: 140px;
    border-radius: 25px;
    border: 0;
    font-weight: 600;
    font-size: large;
    cursor: pointer;
}

button:hover {
    background: linear-gradient(45deg, var(--cor-prim), var(--cor-quar));
    color: var(--cor-branco);
    box-shadow: var(--box-shadow);
}

h3 {
    background: linear-gradient( 313deg, var(--cor-prim), var(--cor-terc));
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
    margin-left: 90px;
    margin-top: 30px;
}